<div class="flex items-center">
  <div
    class="flex h-[var(--header-height)] items-center border-b border-b-gray-400 bg-white text-primary transition-all duration-300 sm:bg-primary sm:text-white"
    [ngClass]="{
      'w-[var(--expanded-sidebar-width)] justify-between pr-2': sidebarOpened(),
      'w-[var(--collapsed-sidebar-width)] justify-center': !sidebarOpened(),
    }"
  >
    <button
      (click)="toggleSidebar()"
      class="fa-solid fa-bars hover:text-gray-10 p-3 text-xl font-bold transition duration-300"
    ></button>
    @if (sidebarOpened()) {
      <ba-logo type="light" />
    }
  </div>

  <div
    class="sticky top-0 z-[200] h-[var(--header-height)] w-full border-b border-b-neutral-300 bg-white/30 shadow-md backdrop-blur-sm"
  >
    <div
      class="flex items-center px-3 py-2"
      [ngClass]="{
        'justify-between': !sidebarOpened(),
        'justify-end': sidebarOpened(),
      }"
    >
      @if (!sidebarOpened()) {
        <ba-logo type="dark" />
      }
      <div class="flex items-center gap-x-4">
        <span class="relative">
          <i class="fa-solid fa-bell cursor-pointer text-2xl text-primary"></i>
        </span>

        <ba-language-switcher />

        <button
          (click)="logoutOp.toggle($event)"
          class="fa-solid fa-ellipsis text-xl text-gray-400 transition-all duration-200 hover:text-gray-500"
        ></button>
      </div>
    </div>
  </div>
</div>

<!-- Logout popover -->
<p-popover #logoutOp>
  <div class="flex w-[10rem] flex-col gap-1">
    <button
      (click)="logout()"
      class="flex w-full items-center justify-start gap-x-2 rounded-md bg-gray-100 px-2 py-3 transition-all duration-200 hover:bg-gray-200"
    >
      <i class="fa-solid fa-arrow-right-from-bracket"></i>
      <span>{{ "logout" | translate }}</span>
    </button>
  </div>
</p-popover>
